<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hay</p>

    <% @recipes.each do |recipe| %>
      <h1><%= recipe.name %></h1>
    <% end %>

  </body>
</html>
